<div [style.maxWidth.px]="1120" class="mx-auto l-container c-location-card__container mt-100 mb-100" id="print-section">

  <div style="text-align: left;">
    <img [style.height.px]="34" alt="Logo" src="./assets/img/allianzlogo.png" >
  </div>
  <div>
    <h2 style="text-align: center;">{{ 'translate.titlePrint'|translate}}</h2>
  </div>
  <div class="category">
    <h3>{{ 'translate.PersonalInformation'|translate}}</h3>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.fulln'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.fulln'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.nationalityar'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.nationalityar'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.gendern'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.gendern'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.nid'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.nid'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.dob'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.dob'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.tel'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.tel'|translate}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.mail'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.mail'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.MaritalStatus'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.MaritalStatus'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Industry'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Industry'|translate}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.Occupation'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.Occupation'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Weight'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Weight'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Height'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Height'|translate}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.Area'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.Area'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.City'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.City'|translate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Governorate'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Governorate'|translate}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex-flex-1">
      <div style="flex: 2;">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label" style="flex:2; padding: 10px">
              <span class="span-label">{{'translate.addressar'|translate}}</span>
            </div>
            <div class="parent-value" style="flex:3; padding: 10px;">
              <span class="span-value">{{'translate.addressar'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
      </div>
    </div>
  </div>


  <div class="category">
    <h3>{{ 'translate.OfferInformation'|translate}}</h3>

    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.plan'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.plan'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.curruncy'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.curruncy'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.SumAssured'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.SumAssured'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.PolicyDuration'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.PolicyDuration'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Frequency'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Frequency'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Beneficiaries'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Beneficiaries'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.RegularPremium'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.RegularPremium'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.TotalPremium'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.TotalPremium'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Firstpremium'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Firstpremium'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h3>{{ 'translate.Payment'|translate}}</h3>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.Propstamp'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.Propstamp'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Superfees'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Superfees'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.Reviewing'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.Reviewing'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex-flex-1">
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{'translate.fundFee'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{'translate.fundFee'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.DimFees'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.DimFees'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="mb-30">
          <div class="d-flex-flex-1">
            <div class="parent-label">
              <span class="span-label">{{ 'translate.IssFees'|translate}}</span>
            </div>
            <div class="parent-value">
              <span class="span-value">{{ 'translate.IssFees'|translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mx-0">
  <div class="col-12 text-center mb-5">
    <button nxButton="primary" type="button" class="px-5"(click)="PrintElem('print-section')">{{'translate.print'|translate}}</button>
  </div>
</div>


