<app-sub-slider></app-sub-slider>


<div>
</div>
<div class="container">
  <div>
    <div class="d-flex justify-content-between">
      <h3>مواد الوثيقة</h3>
      <div>
        <button nxButton="cta" type="button" class="order-0 order-md-0 px-5 my-3 p-2 mx-4 w-fit">{{'translate.printPolicy' | translate}}</button>
      </div>
    </div>
    <ol>
      <li>المقدمة</li>
      <li>التعريفات</li>
      <li>التغطية الأساسية في حالة الوفاة</li>
      <li>التعديلات وأوقاتها</li>
      <li>الإستثناءات العامة والحالات التي يمكن أن تؤثر على الوثيقة</li>
      <li>شروط دفع الأقساط</li>
      <li>الشروط العامة</li>
    </ol>
  </div>
  <div>
    <h4>1- المقدمة</h4>
    <p>الغرض من هذه الوثيقة هو توفير مزايا تأمينية للمؤمن عليه في حالة الوفاة،
      علماً بأن وثيقة التأمين هذه غير هادفة للاستثمار ولا تتضمن أي مزايا استثمارية وذلك وفقاً لبنود وشروط الوثيقة الموضحة أدناه.</p>
    <p>وتعتبر المستندات الاتية جزء لا يتجزأ من الوثيقة ومكمله لها: -</p>
    <ul>
      <li>البيانات الطبية والإقرارات وجميع المعلومات التي يكون المتعاقد/المؤمن عليه قد صرح بها في طلب التأمين الالكتروني.</li>
      <li>شروط وبنود الوثيقة هذه وأي ملاحق أخرى (إن وجدت).</li>
      <li>جدول الوثيقة الذي يتضمن بيانات المتعاقد وبيانات الوثيقة حسب اختيار المتعاقد بالإضافة إلى أي شروط خاصة.</li>
    </ul>
  </div>
  <div>
    <h4>2- التعريفات</h4>
    <table class="table">
      <tbody>
        <tr>
          <td>2.1</td>
          <td>المتعاقد / المؤمن عليه</td>
          <td>هو الشخص المؤمن علي حياته وهو المالك الوحيد للوثيقة (لا يجوز أن يكون المتعاقد شخص آخر بخلاف المؤمن عليه)، و
            الملتزم قانونا بأداء كافة الالتزامات المادية وله الحق في ممارسة كافة المزايا الخاصة بتلك الوثيقة</td>
        </tr>
        <tr>
          <td>2.2</td>
          <td>مبلغ التأمين</td>
          <td>هو مبلغ التغطية التأمينية الذي تدفعه الشركة في حالة تحقق الأخطار المغطاة طبقا لشروط ومزايا واستثناءات هذه الوثيقة</td>
        </tr>
        <tr>
          <td>2.3</td>
          <td>المستفيد/ين</td>
          <td>هم الورثة الشرعيين للمؤمن علية للحصول على مبلغ التأمين في حالة وفاة المؤمن عليه خلال فترة سريان الوثيقة</td>
        </tr>
        <tr>
          <td>2.4</td>
          <td>سنة التأمين</td>
          <td>هي مدة اثني عشر شهراً ميلادياً تبدأ من تاريخ بدء سريان الوثيقة أو بتاريخ كل تجديد سنوي لاحق لتاريخ بدء السريان. علماً بأن تاريخ بدء سريان الوثيقة هو تاريخ بدء التغطية التأمينية </td>
        </tr>
        <tr>
          <td>2.5</td>
          <td>تاريخ إنتهاء الوثـيقة</td>
          <td>هو تاريخ انتهاء الوثيقة وفترة التغطية التأمينية</td>
        </tr>
        <tr>
          <td>2.6</td>
          <td>المطالبة</td>
          <td>طلب يتم تقديمه من المستفيدين للحصول على المزايا التأمينية في حالة تحقق الخطر المؤمن منه</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4>3- التغطية الأساسية في حالة الوفاة</h4>
    <p>في حالة وفاة المؤمن عليه خلال سريان الوثيقة، ستقوم الشركة بدفع مبلغ التأمين بدفعة واحدة.
      إن مبلغ التأمين لهذه التغطية مبين في " جدول الوثيقة " تحت مبلغ التأمين.
    </p>
    <h5>3.1 تقديم المطالبة:</h5>
    <p>لتقييم ودراسة المطالبة يجب تقديم إخطار كتابي والمستندات اللازمة التي تطلبها الشركة خلال 30 يوم من تاريخ الوفاة وهي:</p>
    <ul>
      <li>مستندات الوثيقة الحالية.</li>
      <li>الشهادة الطبية لأسباب الوفاة.</li>
      <li>أصل شهادة الوفاة أو مستخرج رسمي منها صادرة من الجهات المعنية.</li>
      <li>صورة طبق الاصل من محضر الشرطة إذا نتجت الوفاة عن حادث.</li>
      <li>صور من إثبات شخصية المتوفى والمستفيدين (جواز سفر، بطاقة الرقم القومي).</li>
      <li>أي مستندات أخرى تعتبرها الشركة ضرورية لتسوية المطالبة للتحقق من أحقيتها حال تشككها في صحة المطالبة.</li>
    </ul>
  </div>
  <div>
    <h4>4- التعديلات وأوقاتها</h4>
    <p>يمكن للمتعاقد في أي وقت إجراء تعديلات غير تقنية على الوثيقة وطالما أن الوثيقة سارية، ويقصد بالتعديلات الغير التقنية
      أي تعديل أو تغيير يتم على الوثيقة ولا يؤثر في احتساب القسط أو تغيير قيم مبلغ التأمين، على سبيل المثال وليس الحصر تعديل عنوان المراسلات وتتم التعديلات الغير التقنية وفقاً للآتي:</p>
    <ul>
      <li>يحق للمتعاقد تقديم طلب لإجراء التعديلات في أي وقت خلال مدة سريان الوثيقة.</li>
      <li>يحق للشركة رفض طلب تغيير المستفيدين في حالة عدم وجود مصلحة تأمينية بين المستفيد والمؤمن عليه كما هو موضح في البند (6.6).</li>
    </ul>
  </div>
  <div>
    <h4>5- الإستثناءات العامة والحالات التي عند وقوعها لا تكون الشركة مسئولة عن سداد مبلغ التأمين</h4>
    <ul class="list-style-none">
      <li>
        <h6>5.1 الانتحار</h6>
        <p>إذا أقدم الشخص المؤمن عليه على الانتحار خلال سنتين من تاريخ بدء سريان هذا التأمين أو من تاريخ إعادة
          سريانه لا تكون الشركة مسئولة الا عن رد الأقساط حتي تاريخ الوفاة. وفي حالة إذا كان سبب إنتحار المُؤمن عليه مرضاً أفقده إرادته وقت الانتحار خلال السنتين الأولين
          أو إذا تم الانتحار بعد السنتين الأولين فإن الشركة تسدد مبلغ التأمين كما هو منصوص عليه في البند (3) "التغطية الأساسية في حالة الوفاة".
        </p>
      </li>
      <li>
        <h6>5.2 الحكم بالإعدام</h6>
        <p>إذا نفذ بالشخص المؤمن عليه حكم بالإعدام نتيجة ارتكابه فعلاً إجرامياً خلال السنتين الأولين من تاريخ بدء سريان التأمين فإن الشركة
          لا تكون مسئولة الا عن رد الأقساط حتي تاريخ الوفاة . أما إذا تم تنفيذ حكم الإعدام بعد السنتين الأولين فإن الشركة تسدد مبلغ التأمين كما هو منصوص عليه في البند (3).</p>
      </li>
      <li>
        <h6>5.3 القتل العمد</h6>
        <p>تبرأ الشركة من التزاماتها إذا تسبب المتعاقد عمداً في وفاة الشخص المؤمن على حياته أو وقعت الوفاة
          بناء على تحريض منه وإذا كانت الوفاة قد تسبب فيها عمداً أحد المستفيدين بخلاف المتعاقد أو وقعت بتحريض منه فيسقط حق هذا المستفيد في التأمين على أن يؤول حقه إلى باقي المستفيدين
        </p>
      </li>
      <li>
        <h6>5.4 أخطار الحرب</h6>
        <ul class="list-style-none">
          <li>
            <h6>5.4.1 خطر الحرب الفعلية</h6>
            <p>الشركة غير مسئولة إذا نتجت مطالبة للشخص المؤمن عليه كنتيجة لاشتراكه مباشرة أو غير مباشرة في الحرب أو المناورات أو التدريبات العسكريـة وكان المؤمن عليه مجندا أو تابعا لإحدى هيئات القوات المسلحة و/أو الشرطة و/أو عضواً في أي تنظيم ذي طابع عسكري و/أو كان قد شارك في الحرب بشكل مباشر أو غير
              مباشر، ويقصد بكلمة "الحرب" أي عمليات حربية و/أو شبه حربية (سواء كانت حالة الحرب معلنة أم لا) و/أو غزو و/أو عدوان خارجي وكذلك الاشتراك الايجابي أو الضمني في الحروب الأهلية أو العصيان و/أو الثورة و/أو أعمال عنف و/أو مؤامرة و/أو حكم مغتصب و/أو حالة حصار و/أو أي نوع من أنواع الشغب و/أو
              الإرهاب و/أو أي عمل لأي شخص يعمل لحساب أو على صلة بأية منظمة عسكرية أو شبة عسكرية تهدف إلى قلب النظام بالقوة، وما سبق يتم إثباته طبقا لتقارير الجهات المسؤولة.</p>
          </li>
          <li>
            <h6>5.4.2 خطر الحرب السلبية</h6>
            <p>تغطى الوفاة إذا نتجت عن حرب أو أنشطة مشابهة للحرب في جمهورية مصر العربية شريطة أن يكون المؤمن عليه غير مشارك بشكل ايجابي أو ضمني في الحرب أو الأنشطة المشابهة للحرب أو متطوعاً للدخول في المناطق العدائية. يتضمن مصطلح الحرب السلبية أيضاً الحرب الأهلية، التمرد، الشغب، والاضطرابات المدنية
              حيث يغطي التأمين المؤمن عليه فقط في حالة عدم اشتراكه في إحدى الأحداث المذكورة أعلاه أو تعريض نفسه لمثل هذه الأخطار طواعية.</p>
            <p>إذا كان مبلغ التأمين عند الوفاة لكل وثائق التأمين على حياة المؤمن عليه السارية المُصدرة في جمهورية مصر العربية تتجاوز مبلغ الستة ملايين جنية، فإن المبلغ المدفوع بمقتضى هذه الوثيقة في حالة الحرب السلبية سيتم تخفيضه بنسبة تخفيض إجمالي مبالغ التأمين عند الوفاة على كل وثائق تأمين الحياة
              السارية إلى مبلغ الستة ملايين جنية.</p>
            <p>إن كافة المزايا المدفوعة تحت أي من التغطيات الإضافية تستثنى من الوثيقة إذا كانت ناتجة عن خطر الحرب السلبية.</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h4>6- شروط دفع الأقساط</h4>
    <ul>
      <li>إن كافة أقساط هذه الوثيقة قابلة للدفع مباشرةً في المركز الرئيسي للشركة أو من خلال أي من القنوات المعتمدة من قبل الشركة او عن طريق الخصم من بطاقات الائتمان، على أن يكون كشف حساب صادر من البنك والمتضمن لمبالغ هذه الأقساط بمثابة إيصال استلام من الشركة.</li>
      <li>تعطى الشركة للمتعاقد مهلة 30 يوماً (ثلاثون يوماً) لتسديد كل قسط يلي القسط الأول وفي حالة عدم سداد القسط المستحق كاملا عند انتهاء المُهلة، ترسل الشركة بريد الكتروني / رسالة نصية للمتعاقد تطلب فيه تسديد القسط المستحق خلال فترة خمسة عشر يوماً.</li>
      <li>في حالة عدم سداد القسط المستحق كاملاً عند انتهاء فترة الإمهال (45 يوماً خمسة واربعون يوماً من تاريخ استحقاق القسط)، سيتم إلغاء وثيقة التأمين وسيتم إرسال بريد الكتروني للمتعاقد يفيد بإلغاء الوثيقة.</li>
    </ul>
  </div>
  <div>
    <h4>7- الشروط العامة</h4>
    <ul class="list-style-none">
      <li>7.1 إن هذه الوثيقة الصادرة عن شركة أليانز لتأمينات الحياة – مصر والمسماة فيما بعد "الشركة" والتي تلتزم بموجب شروطها وبنودها وملاحقها بسداد المزايا المشروحة في "جدول الوثيقة " والمرفقة مع نص الوثيقة هذا، وذلك بشرط وفاء المتعاقد بكافة التزاماته ذات الصلة وان يكون القسط الأول مدفوع بالكامل
        وجميع الأقساط اللاحقة عند استحقاقها.</li>
      <li>7.2 من المعلوم والمتفق عليه صراحة انه يتم اصدار الوثيقة دون الحاجة الي توقيع المتعاقد (المؤمن عليه).</li>
      <li>
        <h6>7.3 إخطار الشركة</h6>
        <p>إن الشركة غير مُلزمة بأية إخطارات أو ممارسات أو حقوق أو خيارات أو مزايا أو أي أمر آخر يتعلق بهذه الوثيقة ما لم يتم تقديم ذلك كتابة وفي حدود المواعيد المحددة لذلك وأن يتم استلامه من قبل أي فرع من فروع الشركة.</p>
      </li>
      <li>
        <h6>7.4 المعاملات الإلكترونية</h6>
        <p>يلتزم المتعاقد بالأحكام والشروط التي يمكن للشركة أن تقرها من وقت إلى آخر بالنسبة إلى كافة المعاملات. كما يؤكد المتعاقد أن كافة المعاملات الإلكترونية من قبل الشركة أو نيابة عنها تعتبر معاملات صحيحة وملزمة قانوناً طالما إنها تمت وفقاً لأحكام وشروط المعاملات الإلكترونية الصادرة عن الشركة
          (باستثناء تلك التي تستوجب طلباً خطياً حسب شروط الوثيقة).</p>
      </li>
      <li>
        <h6>7.5 بوابة عملاء أليانز الإلكترونية</h6>
        <p>يمكن للمتعاقد متابعة بيانات الوثيقة على حسابه الشخصي المتاح على بوابة عملاء أليانز الإلكترونية.</p>
      </li>
      <li>
        <h6>7.6 المبالغ المسددة من قبل الشركة</h6>
        <p>يتم دفع كل المبالغ المستحقة بموجب هذه الوثيقة وفقاً لطريقة السداد المُختارة في الطلب المُقدم للشركة، ويُعد اشعار التحويل أو توقيع إقرار إبراء الذمة المالية كافياً لإخلاء طرف الشركة بصورة تامة ونهائية غير قابلة للطعن و/او النقض.</p>
      </li>
      <li>
        <h6>7.7 حقوق المستفيدين</h6>
        <p>على المتعاقد عند تحديد المستفيدين مراعاة مبدأ المصلحة التأمينية وموافقة الشركة وقبولها ذلك المستفيد، ويقصد بمبدأ المصلحة التأمينية ضرورة وقوع ضرر مادي او معنوي يتحمله المستفيد جراء وفاة المؤمن عليه.</p>
      </li>
      <li>
        <h6>7.8 سقوط الحق</h6>
        <p>تسقط كافة حقوق المتعاقد أو المستفيدين الناشئة عن هذه الوثيقة في الحالات الاتية:</p>
        <ul>
          <li>إذا أدلى المتعاقد ببيانات غير صحيحة في طلب التأمين أو الإقرارات التي تم ارفقها بطلب التأمين الالكتروني بقصد حث الشركة على قبول التأمين.</li>
          <li>يسقط حق المستفيدين في المطالبة بالتعويض موضوع المطالبة إذا قاموا بتقديم بيانات مضللة عن هذه المطالبة أو تنطوي على غش أو عزز طلب التعويض ببيانات تدليسيه أو إذا كانت المطالبة مفتعلة.</li>
        </ul>
      </li>
      <li>
        <h6>7.9 الضرائب:</h6>
        <p>يتحمل المتعاقد كافة الضرائب والرسوم أياً كان نوعها متى صدر بها قانون أو مرسوم أو قرارات أو لوائح أو أوامر والتي تخضع لها الآن أو في المستقبل كافة المستندات الخاصة بهذه الوثيقة وكل المزايا الناشئة عنها إلا إذا نص قانوناً على خلاف ذلك.</p>
      </li>
      <li>
        7.10 التزام الشركة بموجب هذه الوثيقة سيتوقف تلقائياً عند انتهاء مدة الوثيقة المتفق عليها، إلغاء الوثيقة لأي سبب كان، وفاة المؤمن عليه وذلك بعد سداد مبلغ التأمين المتفق عليه بموجب هذه الوثيقة.
      </li>
      <li>
        7.11 تم إكتتاب وإصدار هذه الوثيقة عن شركة أليانز لتأمينات الحياة – مصر وتخضع للقوانين والأنظمة المعمول بها في جمهورية مصر العربية
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center align-items-center mx-0">
    <button nxButton="cta" type="button" class="order-0 order-md-0 px-5 my-3 p-2 mx-4 w-fit">{{'translate.printPolicy' | translate}}</button>
    <button nxButton="cta" type="button" class="order-0 order-md-0 px-5 my-3 p-2 mx-4 w-fit">{{'translate.Back' | translate}}</button>
  </div>
</div>