<!--
<footer class="bg-white bg-black border text-center">
  <span class="text-secondary fs-5 mb-1 d-inline-block">
    جميع الحقوق محفوظة &copy; 2022


    <button type="button" routerLink="login" routerLinkActive="active" class="btn btn-outline-info">login</button>
    <button type="button" routerLink="sign" routerLinkActive="active" class="btn btn-outline-info">sign</button>
    <button type="button" routerLink="personal" routerLinkActive="active" class="btn btn-outline-info">personal</button>
    <button type="button" routerLink="offer" routerLinkActive="active" class="btn btn-outline-info">offer</button>
    <button type="button" routerLink="print" routerLinkActive="active" class="btn btn-outline-info">print</button>
    <button type="button" routerLink="medical" routerLinkActive="active" class="btn btn-outline-info">medical</button>
    <button type="button" routerLink="u-w" routerLinkActive="active" class="btn btn-outline-info">u-w</button>
    <button type="button" routerLink="payment" routerLinkActive="active" class="btn btn-outline-info">payment</button>
    <button type="button" routerLink="sorry" routerLinkActive="active" class="btn btn-outline-info">sorry</button>
    <button type="button" routerLink="declaration" routerLinkActive="active" class="btn btn-outline-info">declaration</button>
    <button type="button" routerLink="test" routerLinkActive="active" class="btn btn-outline-info">test</button>


  </span>
</footer>-->
<footer class="bg-white bg-black text-center mt-5">
  <div class="row mx-0 d-none d-md-flex" [style.backgroundColor]="'#f5f5f5'" [style.height.px]="160">
    <div class="footerImg">
      <img src="assets/img/footer-navigation.png" alt="">
    </div>
  </div>

  <div class="row mt-5 mx-0">
    <div class="col-12">
      <div class="row mx-0">
        <h3 class="text-center" [style.color]="'#767676'">
          {{'translate.footer-text' | translate}}
        </h3>
      </div>
    </div>
  </div>


  <div class="my-5 mx-0">

    <a href="" class="facecook d-inline-block mx-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" fill="white">
        <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z" />
      </svg>
    </a>
    <a href="" class="instagram d-inline-block mx-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="#c13584">
        <path
          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
      </svg>
    </a>
    <a href="" class="linkedIn d-inline-block mx-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="white">
        <path
          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
      </svg>
    </a>
    <a href="" class="youtube d-inline-block mx-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="red">
        <path
          d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z" />
      </svg>
    </a>
    <a href="" class="messenger d-inline-block mx-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#0084ff">
        <path
          d="M256.55 8C116.52 8 8 110.34 8 248.57c0 72.3 29.71 134.78 78.07 177.94 8.35 7.51 6.63 11.86 8.05 58.23A19.92 19.92 0 0 0 122 502.31c52.91-23.3 53.59-25.14 62.56-22.7C337.85 521.8 504 423.7 504 248.57 504 110.34 396.59 8 256.55 8zm149.24 185.13l-73 115.57a37.37 37.37 0 0 1-53.91 9.93l-58.08-43.47a15 15 0 0 0-18 0l-78.37 59.44c-10.46 7.93-24.16-4.6-17.11-15.67l73-115.57a37.36 37.36 0 0 1 53.91-9.93l58.06 43.46a15 15 0 0 0 18 0l78.41-59.38c10.44-7.98 24.14 4.54 17.09 15.62z" />
      </svg>
    </a>

  </div>


  <hr class="my-0">
  <div class="row mx-0 justify-content-between px-4 mx-auto py-2" [style.maxWidth.px]="1200">

    <div class="w-fit">
      <span class="fs-6 fw-bold me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.copy' | translate}} </span>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.Imprint' | translate}} </a>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.Privacy' | translate}} </a>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.Terms' | translate}} </a>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.titlePrint' | translate}} </a>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.Customerproductionguide' | translate}} </a>
      <a class="fs-6 fw-normal me-3 my-4 d-inline-block text-black-50 text-decoration-none">
        {{'translate.viewPolicy' | translate}} </a>
    </div>
    <div class="w-fit">
      <span class="fs-6 fw-normal me-4 my-4 d-inline-block text-black-50">
        {{'translate.Hotline' | translate}} <a href="tel:19909" class="fs-6 fw-bold text-black d-inline-block text-decoration-none">19909</a></span>
    </div>
  </div>
</footer>
